# Dependency directories
node_modules/

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Allure Reports and Results
allure-results/
allure-report/

# IDE specific files
.vscode/
.idea/
*.swp

# Environment variables (Safety First!)
cypress.env.json
.env

# OS files
.DS_Store
Thumbs.db